code/ClientDevUtilities/Brierley.ClientDevUtilities/LWExtend/LWIntegrationSvc/Brierley.LoyaltyWare.LWIntegrationSvc/LWIntegrationConfig.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="LWIntegrationConfig"
    targetNamespace="http://tempuri.org/LWIntegrationConfig.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/LWIntegrationConfig.xsd"
    xmlns:mstns="http://tempuri.org/LWIntegrationConfig.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>

  <!-- Root element -->
  <xs:element name="IntegrationOperationDirectives" type="IntegrationOperationDirectivesType"/>

  <!-- Enumerations -->

  <xs:simpleType name="MemberIdentityTypeEnums">
    <xs:restriction base="xs:string">
      <xs:enumeration value="IpCode"/>
      <xs:enumeration value="AlternateId"/>
      <xs:enumeration value="EmailAddress"/>
      <xs:enumeration value="UserName"/>
      <xs:enumeration value="LoyaltyIdNumber"/>      
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="LoadTypeEnums">
    <xs:restriction base="xs:string">
      <xs:enumeration value="IpCode"/>
      <xs:enumeration value="CertificateNumber"/>
      <xs:enumeration value="AlternateId"/>
      <xs:enumeration value="EmailAddress"/>
      <xs:enumeration value="UserName"/>
      <xs:enumeration value="LoyaltyIdNumber"/>
      <xs:enumeration value="UseInterceptor"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="AttributeSetFindTypeEnums">
    <xs:restriction base="xs:string">
      <xs:enumeration value="First"/>
      <xs:enumeration value="Last"/>
      <xs:enumeration value="Newest"/>
      <xs:enumeration value="Index"/>
      <xs:enumeration value="Attribute"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="CreateTypeEnums">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Create"/>
      <xs:enumeration value="Update"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="DataTypeEnums">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Member"/>
      <xs:enumeration value="Global"/>
      <xs:enumeration value="Xml"/>      
      <xs:enumeration value="String"/>
      <xs:enumeration value="Integer"/>
      <xs:enumeration value="Long"/>
      <xs:enumeration value="Decimal"/>
      <xs:enumeration value="Date"/>
      <xs:enumeration value="Boolean"/>
      <xs:enumeration value="Struct"/>
      <xs:enumeration value="AttributeSet"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="VirtualCardSearchTypeEnums">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PrimaryCard"/>
      <xs:enumeration value="MostRecentRegistered"/>
      <xs:enumeration value="MostRecentIssued"/>
      <xs:enumeration value="EarliestRegistered"/>
      <xs:enumeration value="EarliestIssued"/>
    </xs:restriction>
  </xs:simpleType>
      
  <!-- General -->

  <xs:complexType name="InterceptorParmType">
    <xs:attribute name="Name" type="xs:string" use="required"/>
    <xs:attribute name="Value" type="xs:string" use="required"/>
  </xs:complexType>
  
  <xs:complexType name="InterceptorParmsType">
    <xs:sequence>
      <xs:element name="Parm" type="InterceptorParmType" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="InterceptorAssemblyType">
    <xs:sequence>
      <xs:element name="InterceptorAssemlyName" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="InterceptorTypeName" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="InterceptorParms" type="InterceptorParmsType" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="ReuseForFile" type="xs:boolean"/>
  </xs:complexType>
  
  <!-- Member Loading -->
  <xs:complexType name="LoadDirectiveType">
    <xs:attribute name="Method" type="LoadTypeEnums"/>
    <xs:attribute name="ValuePath" type="xs:string"/>
  </xs:complexType>
    
  <xs:complexType name="MemberLoadDirectivesType">
    <xs:sequence>
      <xs:element name="LoadDirective" type="LoadDirectiveType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="ExceptionIfNotFound" type="xs:boolean" default="false"/>
    <xs:attribute name="ExceptionIfFound" type="xs:boolean" default="false"/>
  </xs:complexType>
  
  <!-- Attribute set processing directives -->
  <xs:complexType name="IfAttributeType">
    <xs:attribute name="Name" type="xs:string" use="required"/>
    <xs:attribute name="Value" type="xs:string" use="required"/>
    <xs:attribute name="Action" type="CreateTypeEnums" use="required"/>
    <xs:attribute name="FindBy" type="xs:string" use="optional"/>
  </xs:complexType>
  
  <xs:complexType name="AttributeSetModifyDirectiveType">
    <xs:sequence>
      <xs:element name="IfAttribute" type="IfAttributeType" minOccurs="1" maxOccurs="2"/>
    </xs:sequence>
    <xs:attribute name="Name" type="xs:string" use="required"/>
  </xs:complexType>
  
  <xs:complexType name="AttributeSetCreateDirectiveType">
    <xs:sequence>
      <xs:element name="MarkTrue" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="Name" type="xs:string" use="required"/>
    <xs:attribute name="IfPresent" type="xs:string" use="required"/>
    <xs:attribute name="LoadExisting" type="xs:boolean" use="optional"/>
    <xs:attribute name="AddMissingPropertyAsTransient" type="xs:boolean" use="optional"/>
    <xs:attribute name="UpdateLastActivityDate" type="xs:boolean" use="optional"/>
  </xs:complexType>
  
  <xs:complexType name="AttributeSetUpdateDirectiveType">
    <xs:attribute name="Name" type="xs:string" use="required"/>
    <xs:attribute name="FindMethod" type="AttributeSetFindTypeEnums" use="required"/>
    <xs:attribute name="FindValue" type="xs:string" use="optional"/>
    <xs:attribute name="CreateIfNotFound" type="xs:boolean" default="false"/>
    <xs:attribute name="AddMissingPropertyAsTransient" type="xs:boolean" use="optional"/>
    <xs:attribute name="UpdateLastActivityDate" type="xs:boolean" use="optional"/>
  </xs:complexType>
  
  <xs:complexType name="AttributeSetCreateDirectivesType">
    <xs:sequence >
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="AttributeSetModify" type="AttributeSetModifyDirectiveType"/>
        <xs:element name="AttributeSetCreate" type="AttributeSetCreateDirectiveType"/>
        <xs:element name="AttributeSetUpdate" type="AttributeSetUpdateDirectiveType"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AttributeSetAddDirectiveType">
    <xs:attribute name="Name" type="xs:string" use="required"/>
    <xs:attribute name="UpdateLastActivityDate" type="xs:boolean" use="optional"/>
    <xs:attribute name="VirtualCardType" type="VirtualCardSearchTypeEnums" use="optional"/>
  </xs:complexType>

  <xs:complexType name="AttributeSetAddDirectivesType">
    <xs:sequence >
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="AttributeSetAdd" type="AttributeSetAddDirectiveType"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  
  <!-- Operation response -->
  <xs:complexType name="AttributeSetsToLoadType">
    <xs:sequence>
      <xs:element name="LoadAttributeSet" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="ReloadMember" type="xs:boolean" use="optional"/>
  </xs:complexType>
  
  <xs:complexType name="OperationResponseType">
    <xs:sequence>
      <!--<xs:element name="ResponseExpression" type="xs:string" minOccurs="0" maxOccurs="1"/>-->
      <xs:element name="AttributeSetsToLoad" type="AttributeSetsToLoadType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="MemberResponseHelper" type="InterceptorAssemblyType" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>   
  </xs:complexType>

  <!-- Begin Code Gen Metadata -->
  <!-- Begin This information is required to generate correct client proxy -->
  <xs:complexType name="OperationParmType">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="Parm" type="OperationParmType"/>
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="Name" type="xs:string" use="required"/>
    <xs:attribute name="Type" type="DataTypeEnums" use="required"/>
    <xs:attribute name="IsArray" type="xs:boolean" default="false"/>
    <xs:attribute name="IsRequired" type="xs:boolean"/>
    <xs:attribute name="StringLength" type="xs:int" use="optional"/>
  </xs:complexType>
  
  <xs:complexType name="OperationInputType">
    <xs:sequence>
      <xs:element name="Parm" type="OperationParmType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <!--<xs:attribute name="InputParmType" type="OperationIOTypeEnums" use="required"/>
    <xs:attribute name="IsArray" type="xs:boolean" default="false"/>-->
    <xs:attribute name="Description" type="xs:string"/>
    <xs:attribute name="LogParameters" type="xs:boolean" use="optional" default="true"/>
  </xs:complexType>

  <xs:complexType name="OperationOutputType">
    <xs:sequence>
      <xs:element name="Parm" type="OperationParmType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <!--<xs:attribute name="ReturnType" type="OperationIOTypeEnums" use ="required"/>-->
    <!--<xs:attribute name="IsArray" type="xs:boolean" default="false"/>-->
    <xs:attribute name="Description" type="xs:string"/>
    <xs:attribute name="LogParameters" type="xs:boolean" use="optional" default="true"/>
  </xs:complexType>
  
  <xs:complexType name="OperationMetadataType">
    <xs:sequence>
      <xs:element name="Summary" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="OperationInput" type="OperationInputType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="OperationOutput" type="OperationOutputType" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <!--<xs:attribute name="StandardAPI" type="xs:boolean" default="false"/>-->
  </xs:complexType>

  <xs:complexType name="EndPointRestrictionType">
    <xs:sequence>
      <xs:element name="Allow" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Deny" type="xs:string" minOccurs="0" maxOccurs="1"/>      
    </xs:sequence>
  </xs:complexType>
  <!-- End Code Gen Metadata -->
  
  <!-- Directives for using builtin message processing mechanism -->
  <xs:complexType name="FrameworkManagedOperationDirectiveType">
    <xs:sequence>
      <xs:element name="EndPointRestriction" type="EndPointRestrictionType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="InterceptorAssembly" type="InterceptorAssemblyType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="MemberLoadDirectives" type="MemberLoadDirectivesType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="AttributeSetCreateDirectives" type="AttributeSetCreateDirectivesType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="OperationResponse" type="OperationResponseType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="GenericErrorMessage" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="OperationMetadata" type="OperationMetadataType" minOccurs="1" maxOccurs="1"/>      
    </xs:sequence>
    <xs:attribute name="Name" type="xs:string" use="required"/>
    <xs:attribute name="Authorized" type="xs:boolean" use="required"/>
  </xs:complexType>
  
  <!-- Custom functions -->
  <xs:complexType name="FunctionProviderType">
    <xs:sequence>      
      <xs:element name="ProviderType" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="ProviderAssemlyPath" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="FunctionProviderParms" type="InterceptorParmsType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Interceptor" type="InterceptorAssemblyType" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="OnSuccessEventDirectiveType">
    <xs:sequence/>
    <xs:attribute name="EventName" type="xs:string" use="required"/>    
  </xs:complexType>
    
  <xs:complexType name="OnSuccessDirectiveType">
    <xs:sequence>
      <xs:choice minOccurs="1" maxOccurs="1">
        <xs:element name="OnSuccessEvent" type="OnSuccessEventDirectiveType"/>
        <xs:element name="OnSuccessInterceptor" type="InterceptorAssemblyType"/>
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="Asynchronous" type="xs:boolean" use="optional"/>
  </xs:complexType>
  
  <xs:complexType name="APIOperationDirectiveType">
    <xs:sequence>
      <xs:element name="EndPointRestriction" type="EndPointRestrictionType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="FunctionProvider" type = "FunctionProviderType"  minOccurs="0" maxOccurs="1"/>
      <xs:element name="AttributeSetAddDirectives" type = "AttributeSetAddDirectivesType"  minOccurs="0" maxOccurs="1"/>
      <xs:element name="OperationResponse" type="OperationResponseType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="OperationMetadata" type="OperationMetadataType" minOccurs="1" maxOccurs="1"/>
      <xs:element name="OnSuccess" type="OnSuccessDirectiveType" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="Name" type="xs:string" use="required"/>
    <xs:attribute name="Authorized" type="xs:boolean" use="required"/>
  </xs:complexType>
  
  <!-- Operation directive -->
  
  <xs:complexType name="OperationProcessingDirectivesType">
    <xs:sequence>
      <xs:element name="GlobalOperationValidator" type="InterceptorAssemblyType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="FrameworkManagedOperationDirective" type="FrameworkManagedOperationDirectiveType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="APIOperationDirective" type="APIOperationDirectiveType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  
  <!-- LW Integration Operation Processing Directives -->
  <xs:complexType name="IntegrationOperationDirectivesType">
    <xs:sequence>
      <xs:element name="OperationProcessingDirectives"
					type="OperationProcessingDirectivesType" minOccurs="0"
					maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="MemberIdentityType" type="MemberIdentityTypeEnums" use="required"/>
    <xs:attribute name="TrimStringSpaces" type="xs:boolean"/>
    <xs:attribute name="CheckForChangedValues" type="xs:boolean"/>
    <xs:attribute name="IgnoreTimeZoneOffset" type="xs:boolean"/>
    <xs:attribute name="EnforceValidBatch" type="xs:boolean"/>
	<xs:attribute name="PasswordChangedEmailName" type="xs:string"/>
  </xs:complexType>
</xs:schema>
